.b-promo-slider {
  height: 225px;
  position: relative;
  width: 100%;

  &-item {
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    &-image {
      height: 100%;
      width: 100%;
    }
  }
}