.b-layout-header {
  /*background-image: url('/assets/tree.png');
  background-repeat: no-repeat;
  background-position: 0px 5px;*/
  //border-bottom: 1px solid @color-brown;
  position: relative;
}

.b-logo {
  .retina-image('/assets/logo2', 'png', 100%, 100%);
  height: 56px;
  left: 50%;
  margin: -28px 0 0 -133px;
  position: absolute;
  top: 50%;
  width: 267px;
}