script type="text/template" id="b-popup-comment-template"
  .b-popup-comment-message-success ="Спасибо, комментарий сохранен!"
  textarea.b-popup-comment-textarea role="b-popup-comment-textarea"
  button.b-button-emphasis.m-transparent.b-popup-comment-submit role="b-popup-comment-submit" ="Оставить комментарий"