.b-button-emphasis {
  background-color: @color-blue-dark;
  border: 0;
  //box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
  font-family: @font-museo;
  font-size: 28px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;

  &:hover {
    background-color: lighten(@color-blue-dark, 2%);
  }
}