@color-menu : #426bf2;
@color-menu-hover : #3c60d7;
@color-menu-inverted : #f4f866;

@color-dark-grey: #555555;
@color-grey : #777777;
@color-light-grey : #f1f1f1;

@color-blue : #426bf2;
@color-dark-blue : #2843af;

@color-success : #47c173;
@color-error   : #ff0000;

/* todo: remove this variables */
@color-user-menu-counter-grey : #adadad;
@color-background-book : #f6f4ee;

@color-green : #4bcd65;



@color-brown-lighter : #a58755;
@color-brown : #887659;
@color-brown-darker : #745829;
@color-brown-dark : #533503;

@color-orange-lighter: #ee9600;
@color-orange: #e48f00;
@color-orange-darker: #d0880b;