.b-layout-item {
  .box-sizing(border-box);
  background-color: #ffffff;
  margin-bottom: 50px;
  padding: 50px 35px;
  position: relative;
  white-space: nowrap;
  width: 100%;

  &-content-left,
  &-content-right {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
  }

  &-content-left {
    margin-right: 20px;
    width: 400px;
  }

  &-content-right {
    width: 470px;
  }

  &-pictures-wrapper {
    position: relative;
    width: 400px;

    &[data-position=fixed] {
      position: fixed;
      top: 50px;
    }
    &[data-position=docked-to-bottom] {
      bottom: 50px;
      left: 35px;
      position: absolute;
    }
  }

  &-picture-large {
    .box-sizing(border-box);
    background-color: #ffffff;
    //border: 1px solid @color-brown-darker;
    height: 267px;
    line-height: 267px;
    margin-bottom: 40px;
    position: relative;
    text-align: center;
    width: 100%;

    &-image {
      .vertical-align-middle();
      max-height: 100%;
      max-width: 100%;
    }

    &-overlay {
      //background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &-picture-zoom {
    .transition();
    border: 1px solid #f1f1f1;
    background-color: #ffffff;
    height: 313px;
    line-height: 313px;
    overflow: hidden;
    position: absolute;
    right: -490px;
    width: 470px;

    &[data-visible=false] {
      z-index: -1;
      opacity: 0;
    }

    &[data-visible=true] {
      z-index: 1;
      opacity: 1;
    }

    .b-layout-item-picture-zoom-loader {
      left: 50%;
      margin: -23.5px 0 0 -23.5px;
      position: absolute;
      top: 50%;

      &[data-visible=false] {
        z-index: -1;
        opacity: 0;
      }

      &[data-visible=true] {
        z-index: 1;
        opacity: 1;
      }
    }
  }

  &-picture-thumbs-wrapper {
    white-space: nowrap;
  }

  &-picture-thumb {
    background-color: #ffffff;
    //border: 1px solid @color-brown;
    cursor: pointer;
    display: inline-block;
    height: 43px;
    line-height: 43px;
    text-align: center;
    width: 71px;

    &.m-active {
      border-color: @color-brown;
    }

    &:not(:last-of-type) {
      margin-right: 10px;
    }

    &-image {
      .vertical-align-middle();
      max-height: 100%;
      max-width: 100%;
    }
  }

  &-title {
    .font(25px, 33px, bold);
    color: #000000;
    font-family: @font-museo;
    margin-bottom: 10px;
  }

  &-price {
    color: #555555;
    font-family: @font-museo;
    font-size: 20px;
    margin-bottom: 30px;
  }

  &-description {
    color: #000000;
    font-family: @font-museo;
    font-size: 17px;
    font-weight: normal;
    line-height: 25px;
    margin-bottom: 55px;
  }

  &-button-buy {

    &-wrapper {
      display: block;
      //margin-bottom: 50px;
      position: relative;
    }

    &-already-in-cart {
      .transition-prop(opacity);
      position: absolute;
      top: -26px;

      &[data-visible=false] {
        opacity: 0;
        z-index: -1;
      }

      &[data-visible=true] {
        opacity: 1;
        z-index: 1;
      }

      &-text,
      &-link {
        display: inline;
        font-family: @font-museo;
        font-size: 17px;
        font-weight: normal;
      }

      &-text {
        color: #777777;
      }

      &-link {
        color: #000000;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
      //padding: 0 20px;
      //position: relative;
    }
  }

  &-button-buy-order {
    display: block;
    font-family: @font-museo;
    font-size: 16px;
    font-weight: normal;
    text-decoration: dashed;
  }

  &-facts {
    margin-top: 50px;

    &-header {
      color: #000000;
      font-family: @font-museo;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    &-item {
      color: #000000;
      font-family: @font-museo;
      font-size: 18px;
      font-weight: normal;
      line-height: 24px;
      position: relative;

      &:not(:last-of-type) {
        margin-bottom: 15px;
      }

      &::before {
        background-color: @color-brown;
        border-radius: 10px;
        content: '';
        height: 5px;
        position: absolute;
        left: -12px;
        top: 10px;
        width: 5px;
      }
    }
  }

  &-specs {
    margin-top: 50px;
    width: 100%;

    &-header {
      color: #000000;
      font-family: @font-museo;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    &-item {
      .box-sizing(border-box);
      padding: 10px 0 10px 180px;
      position: relative;
      width: 100%;

      &:not(:last-of-type) {
        //margin-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      }

      &-label,
      &-text {
        color: #000000;
        font-family: @font-museo;
        font-size: 18px;
        font-weight: normal;
        line-height: 24px;
      }

      &-label {
        //width: 160px;
        left: 0;
        position: absolute;
        top: 10px;
      }

      &-text {
        width: 100%;
      }
    }
  }

  &-warranty {
    //margin-bottom: 50px;
    margin-top: 50px;

    &-header {
      color: #000000;
      font-family: @font-museo;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    &-text {
      color: #000000;
      font-family: @font-museo;
      font-size: 18px;
      font-weight: normal;
      line-height: 24px;
    }
  }
}